<div class = formula>
  <h4>
    Formula
  </h4>
  <textarea></textarea>
</div>
<div class="container-buttons">
  <label>
    <p>
      <input class="checkbox" type="checkbox" name="a" value="">Auto line-breaks
    </p>
  </label>
  <label id="1">
    <p>
      <button class="button_save">
        Save As Custom Expression ...
      </button>
    </p>
  </label>
  <label id="2">
    <p>
      <button class="button_clear">
        Clear
      </button>
    </p>
  </label>
  <label id="3">
    <p>
      <button class="button_validate">
        Validate
      </button>
    </p>
  </label>
</div>

<div class="function">
  <h4>
    Functions and fields
  </h4>
  <div class="block">
    <nav class="navigation">
      <ul>
        <li><a href="#">Stock</a></li>
        <li><a href="#">Indices</a></li>
        <li><a href="#">Execution</a></li>
        <li><a href="#">Studies</a></li>
        <li><a href="#">Filter</a></li>
        <li><a href="#">Math</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Blackbox</a></li>
        <li><a href="#">Datetime</a></li>
        <li><a href="#">Launch</a></li>
        <li><a href="#">Custom</a></li>
      </ul>
    </nav>
  </div>
  <div class="block">
    <nav class="navigation">
      <ul>
        <li><a href="#">ADX</a></li>
        <li><a href="#">ATRStock</a></li>
        <li><a href="#">BolingerBand</a></li>
        <li><a href="#">DonchianChannes</a></li>
        <li><a href="#">EMAIndex</a></li>
        <li><a href="#">EMAStock</a></li>
        <li><a href="#">IslnRanking</a></li>
        <li><a href="#">KeitnerChannel</a></li>
        <li><a href="#">MACD</a></li>
        <li><a href="#">PIVOT_PP</a></li>
        <li><a href="#">PIVOT_R1</a></li>
        <li><a href="#">PIVOT_R2</a></li>
        <li><a href="#">PIVOT_R3</a></li>
        <li><a href="#">PIVOT_S1</a></li>
        <li><a href="#">PIVOT_S1</a></li>
        <li><a href="#">PIVOT_S1</a></li>
        <li><a href="#">PivotDailyHigh</a></li>
      </ul>
    </nav>
    <button class="button_edit">
      Edit Custom Expression
    </button>
  </div>
  <div class="block">
    <input class="button_az" type="button">
    <input class="button_az" type="button">
    <input class="button_az" type="button">
    <nav class="navigation">

    </nav>
    <textarea class="text_area"></textarea>
  </div>
  <div class="block">
    <nav class="navigation"></nav>
  </div>
</div>



